# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Platform dirs are generated in CI by `flutter create .`
android/
ios/

# Misc
*.log
.DS_Store
